.audio-toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3; /* Asegúrate de que el botón esté por encima de otros elementos */
  width: 30px; /* Ajusta el tamaño según tus necesidades */
  height: 30px; /* Ajusta el tamaño según tus necesidades */
  cursor: pointer;
}

.layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100vw;  /* Ocupa todo el ancho de la pantalla */
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.initial-image {
  width: 70%; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  transition: opacity 0.5s ease-in-out; /* Añade una transición de desvanecimiento */
  cursor: pointer; /* Cambia el cursor a un puntero */
}

.initial-image.fade-out {
  opacity: 0; /* Desvanece la imagen */
}

.preview-image {
  width: 35%; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  position: absolute;
  z-index: 0; /* Imagen de fondo */
  margin-top: 400px;
}

.replaced-image {
  width: 24%; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  position: absolute;
  z-index: 0; /* Imagen de fondo */
  margin-top: 400px;
}

.background-video {
  width: 35%; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  position: absolute;
  z-index: 1; /* Video justo encima de la imagen de fondo */
  margin-bottom: 400px;
  margin-left: 50px;
  padding-left: 20px;
}

.replaced-video-image {
  width: 23%; /* Ajusta el tamaño según tus necesidades */
  margin-top: -40px;
  margin-right: 71px;
  height: auto;
  position: absolute;
  z-index: 1; /* Imagen justo encima de la imagen de fondo */
  margin-bottom: 400px;
  margin-left: 50px;
  padding-left: 20px;
}

.middle-image {
  margin-top: 330px;
  width: 15%; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  position: absolute;
  z-index: 1.5; /* "touch screen" imagen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInOut 2s infinite; /* Aplica la animación de parpadeo */
}

.layout-image {
  width: 50%; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  position: relative;
  z-index: 2; /* Imagen superior */
  user-select: none; /* Evita la selección de la imagen */
  pointer-events: none; /* Evita la interacción con la imagen */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 290px;
  margin-left: 640px;
  width: 25%;
  z-index: 1; /* Asegúrate de que la imagen de fondo esté por debajo de la layout-image */
}

.replace-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-300%, 360%);
  width: 50px; /* Ajusta el tamaño según tus necesidades */
  height: 50px; /* Ajusta el tamaño según tus necesidades */
  cursor: pointer;
  z-index: 1.5; /* Asegúrate de que el botón esté por debajo de la layout-image */
}

/* Define la animación de fundido */
@keyframes fadeInOut {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Media queries para hacer el diseño responsive */
@media (max-width: 1200px) {
  .preview-image,
  .middle-image,
  .replaced-image,
  .replaced-video-image {
    width: 33%;
    margin-top: 220px;
  }
  .background-video {
    margin-left: 20px;
    margin-top: 270px;
  }
  .middle-image {
    padding-top: 370px;
  }
}

@media (max-width: 768px) {
  .initial-image,
  .preview-image,
  .background-video,
  .middle-image,
  .layout-image,
  .replaced-image,
  .replaced-video-image {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .initial-image,
  .preview-image,
  .background-video,
  .middle-image,
  .layout-image,
  .replaced-image,
  .replaced-video-image {
    width: 90%;
  }
}

/* Media queries para pantallas ultrawide */
@media (min-width: 2560px) {
  .preview-image,
  .middle-image,
  .replaced-image,
  .replaced-video-image {
    width: 25%;
    margin-top: 300px;
  }
  .background-video {
    width: 25%;
    margin-left: 100px;
    margin-top: 300px;
  }
  .middle-image {
    padding-top: 500px;
    width: 10%;
  }
  .layout-image {
    width: 40%;
  }
}

/* Estilos para las imágenes reemplazadas */
.replaced-image,
.replaced-video-image {
  animation: none; /* Elimina la animación */
}